/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

:root {
  /* Cores */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --bg-color: #f8f9fa;
  --section-bg: #e0e0e0;
  --text-color: #333;

  /* Fontes */
  --font-primary: 'Arial', sans-serif;

  /* Tamanhos de Container */
  --max-width: 1200px;
}

.container {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
